<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Project</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mainstyle.css">
    <link rel="stylesheet" href="../css/mainstyle1.css">
    <link rel="stylesheet" href="../css/mainstyle2.css">
    <link rel="stylesheet" href="../css/footerstyle1.css">
    

    
</head>
<body>
          
    <header>

        <div class="logo">

            <img class="logo0" src="../img/logo.png" alt="logo">
            

            <div class="explore">
                <p>explore<p class="plus">plus</p></p><img src="../img/explore.png" alt="explore" class="explore0">
            </div>

        </div>
        <div class="searchbar1">
        <input type="text" placeholder="Search for products, brands and more" class="searchbar">

        <button type="submit"class="subbtn"><i class="fa fa-search" id="searchbtn00"></i></button>
        </div>
        <nav class="nav0">
            <ul class="ul0">
                <a href="login.html" class="login"><li class="li0" id="login0"><div id="login00">login<div class="dropdown0"></a>
                <img src="../img/whitetri0.jpg" class="notif" id="whitetri0">
                    <ul class="ul2">
                        <li class="li2" id="newcustom"><p id="newcustom0">new customer?</p><a href="login.html" id="signup0">sign up</a></li></li>
                        
                        <a href="notification.html" class="notiflink"><li class="li2" id="profile0"><img src="../img/profile.jpg" class="notif0">my profile</li></a>
                        <a href="notification.html" class="notiflink"><li class="li2" id="selld"><img src="../img/pluszone.jpg" class="notif0">flipkart plus zone</li></a>
                        <a href="notification.html" class="notiflink"><li class="li2" id="cucare"><img src="../img/orders.jpg" class="notif0">orders</li></a>
                        <a href="notification.html" class="notiflink"><li class="li2"><img src="../img/heart.jpg" class="notif3" id="wideimg0">wish list</li></a>
                        <a href="notification.html" class="notiflink"><li class="li2" id="dropmanage0"><img src="../img/reward.jpg" class="notif3">rewards</li></a>
                        <a href="notification.html" class="notiflink"><li class="li2" id="dropmanage0"><img src="../img/gift.jpg" class="notif0">gift cards</li></a>
                        </ul></div></div></li>
                
                <li class="li0" id="more"><div class="more0">more<div class="dropdown">
                <img src="../img/whitetri0.jpg" class="notif" id="whitetri">
                    <ul class="ul1">
                        
                        <a href="notification.html" class="notiflink"><li class="li1" id="notifd"><img src="../img/notification.png" class="notif">notification preferences</li></a>
                        <a href="notification.html" class="notiflink"><li class="li1" id="selld"><img src="../img/briefsell.png" class="notif">sell on flipkart</li></a>
                        <a href="notification.html" class="notiflink"><li class="li1" id="cucare"><img src="../img/cucare.png" class="notif">24x7 customer care</li></a>
                        <a href="notification.html" class="notiflink"><li class="li1"><img src="../img/advertise.jpg" class="notif">advertise</li></a>
                        <a href="notification.html" class="notiflink"><li class="li1" id="dropmanage0"><img src="../img/download.jpg" class="notif">download app</li></a>
                        
                        </ul></div>
                </li>
                <a href="cart.html" class="cartlink"><li class="li0" id="cart0"><img src="../img/cart.png" class="cartimg">cart</li></a>
                
            </ul>
        </nav>
        
        
        
    
        
        
       
        
    </header>
    
          
    
    
    
    
    <main>

        <div class="container0">
            <div class="content01">
                <img src="../img/offers.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">top offers</p>
            </div>
            <div class="content01">
                <img src="../img/groceries.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">grocery</p>
            </div>
            <div class="content01">
                <img src="../img/mobiles.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">mobiles</p>
            </div>
            <div class="content01">
                <img src="../img/fashion.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">fashion</p>
            </div>
            <div class="content01">
                <img src="../img/electronics.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">electronics</p>
            </div>
            <div class="content01">
                <img src="../img/home.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">home</p>
            </div>
            <div class="content01">
                <img src="../img/appliances.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">appliances</p>
            </div>
            <div class="content01">
                <img src="../img/travel.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">travel</p>
            </div>
            <div class="content01">
                <img src="../img/toys.jpg" alt="offer0" class="contentimg0">
                <p class="contentdesc">beauty, toys & more</p>
            </div>

        </div>
        <div class="container1">
        
        <div class="imgslider0">
        <input type="radio" class="radio00" name="slide" id="img1" checked>
        <input type="radio" class="radio00" name="slide" id="img2">
        <input type="radio" class="radio00" name="slide" id="img3">
        <input type="radio" class="radio00" name="slide" id="img4">
        
            <img src="../img/sliderimg1.jpg" class="imgslider00" id="imgslid0" alt="img1">
            <img src="../img/sliderimg2.jpg" class="imgslider00" id="imgslid1" alt="img2">
            <img src="../img/sliderimg3.jpg"  class="imgslider00" id="imgslid2" alt="img3">
            <img src="../img/sliderimg4.jpg"  class="imgslider00" id="imgslid3" alt="img4">

        
        </div>
        <div class="dots">
            <label for="img1"></label>
            <label for="img2"></label>
            <label for="img3"></label>
            <label for="img4"></label>
        </div>
        
        </div>
    <div class="container2">
            <div class="cont1slider">
                <div class="titlecont">
                <p>best of electronics</p>
                <p class="descrip0">devices and accessories</p>
                
                </div>
                <div class="viewbtn0">
                <a href="#" class="viewbtnlink">
                <p class = "viewbtn">view all</p>
                </a>
                </div>    
            </div>
            <hr class="dividercont0">
            

         




       
        
    <input type="radio" class="radioslider1" name="slider1" id="imgslider1l" checked>

    <input type="radio" class="radioslider1" name="slider1" id="imgslider1r"> 

        <div class="content000">

      
            
            
            
           
        
            <div class="contents0">
            <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/bestbrandphones.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">best brands</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all phone models</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg2.jpg" alt="boeimg2" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">lenovo tablets</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all related models</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg3.png" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">microsoft devices</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all microsoft products</p>
                </div>
                </a>

            </div>
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg4.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">samsung tablets</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all samsung products</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg5.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">TV streaming devices</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all related products</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg6.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">home audio speakers</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all related products</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg7.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">laptop speakers</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all related products</p>
                </div>
                </a>

            </div>
        
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/boeimg8.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">bluetooth speaker</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">for all related products</p>
                </div>
                </a>

            </div>


                
            

            
            
        </div>
    <label for="imgslider1l">
    <img src="../img/slide_left.jpg" class="slideleft0" id="slideleft00"> </label>
        <label for="imgslider1r">
        <img src="../img/slide_right.jpg" class="slideright0" id="slideright00"></label>
        
    </div>







    <div class="container2">
            <div class="cont2slider">
                <div class="titlecont">
                <p>headphones & speakers</p>
                <p class="descrip0"></p>
                
                </div>
                <div class="viewbtn0">
                <a href="#" class="viewbtnlink">
                <p class = "viewbtn">view all</p>
                </a>
                </div>    
            </div>
            <hr class="dividercont0">
            

         




       
        
    <input type="radio" class="radioslider1" name="slider2" id="imgslider2l" checked>

    <input type="radio" class="radioslider1" name="slider2" id="imgslider2r"> 

        <div class="content000">

      
            
            
            
           
        
            <div class="contents0">
            <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg1.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">wired earphones</p>
                    <p class="desccont2">from $100</p>
                    <p class="desccont3">Mi, budi, realme & more</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg2.jpg" alt="boeimg2" class="contentimg01" id="shiftleftimg0">
                </div>
                <div class="desccont0">
                    <p class="desccont1">headphones</p>
                    <p class="desccont2">explore more</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg3.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">headphones over ear</p>
                    <p class="desccont2">explore more</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg4.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">bluetooth headphones</p>
                    <p class="desccont2">from $150</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg5.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">true wireless earphones</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg6.jpg" alt="bestphones0" class="contentimg01" id="shiftleftimg0">
                </div>
                <div class="desccont0">
                    <p class="desccont1">dobly enabled</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg7.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">home theatres</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>
        
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/hsimg8.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">sound bars</p>
                    <p class="desccont2">shop now</p>
                    <p class="desccont3">new launches</p>
                </div>
                </a>

            </div>


                
            

            
            
        </div>
    <label for="imgslider2l">
    <img src="../img/slide_left.jpg" class="slideleft0" id="slideleft00"> </label>
        <label for="imgslider2r">
        <img src="../img/slide_right.jpg" class="slideright0" id="slideright00"></label>
        
    </div>



    <div class="container2">
            <div class="cont3slider">
                <div class="titlecont">
                <p>furniture bestsellers</p>
                <p class="descrip0">upto 70% OFF</p>
                
                </div>
                <div class="viewbtn0">
                <a href="#" class="viewbtnlink">
                <p class = "viewbtn">view all</p>
                </a>
                </div>    
            </div>
            <hr class="dividercont0">
            

         




       
        
    <input type="radio" class="radioslider1" name="slider2" id="imgslider3l" checked>

    <input type="radio" class="radioslider1" name="slider2" id="imgslider3r"> 

        <div class="content000">

      
            
            
            
           
        
            <div class="contents0">
            <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg1.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">hammock and swings</p>
                    <p class="desccont2">from $150</p>
                    <p class="desccont3">tendy collection</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg2.jpg" alt="boeimg2" class="contentimg01" id="shiftleftimg0">
                </div>
                <div class="desccont0">
                    <p class="desccont1">wardrobes</p>
                    <p class="desccont2">from $400</p>
                    <p class="desccont3">harry furnitures</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg3.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">office & study chairs</p>
                    <p class="desccont2">min 50% off</p>
                    <p class="desccont3">fabrics & leatherette</p>
                </div>
                </a>

            </div>
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg4.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">top 20 inflatable sofa</p>
                    <p class="desccont2">from $100</p>
                    <p class="desccont3">cozy corners</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg5.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">inflatable sofas</p>
                    <p class="desccont2">min 50% off</p>
                    <p class="desccont3">furn central & more</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg6.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">top 20 stools</p>
                    <p class="desccont2">from $3</p>
                    <p class="desccont3">trendy collection</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg7.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">outdoor chairs</p>
                    <p class="desccont2">from $5</p>
                    <p class="desccont3">nilkamal, avro</p>
                </div>
                </a>

            </div>
        
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/fbimg8.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">wooden chairs</p>
                    <p class="desccont2">30% off</p>
                    <p class="desccont3">woody furnitures</p>
                </div>
                </a>

            </div>


                
            

            
            
        </div>
    <label for="imgslider3l">
    <img src="../img/slide_left.jpg" class="slideleft0" id="slideleft00"> </label>
        <label for="imgslider3r">
        <img src="../img/slide_right.jpg" class="slideright0" id="slideright00"></label>
        
    </div>



    <div class="container2">
            <div class="cont4slider">
                <div class="titlecont">
                <p>top offers on</p>
                <p class="descrip0">men's accessories</p>
                
                </div>
                <div class="viewbtn0">
                <a href="#" class="viewbtnlink">
                <p class = "viewbtn">view all</p>
                </a>
                </div>    
            </div>
            <hr class="dividercont0">
            

         




       
        
    <input type="radio" class="radioslider1" name="slider2" id="imgslider4l" checked>

    <input type="radio" class="radioslider1" name="slider2" id="imgslider4r"> 

        <div class="content000">

      
            
            
            
           
        
            <div class="contents0">
            <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg1.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">ray-Ban, fastrack & more</p>
                    <p class="desccont2">20-60%</p>
                    <p class="desccont3">frames</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg2.jpg" alt="boeimg2" class="contentimg01" >
                </div>
                <div class="desccont0">
                    <p class="desccont1">unbelievable deals on bags</p>
                    <p class="desccont2">60-80% off</p>
                    <p class="desccont3">american tourister</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg3.jpg" alt="bestphones0" class="contentimg01">
                </div>
                <div class="desccont0">
                    <p class="desccont1">azmani</p>
                    <p class="desccont2">from $2</p>
                    <p class="desccont3">love what you wear</p>
                </div>
                </a>

            </div>
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg4.jpg" alt="bestphones0" class="contentimg00" id="shiftleftimg1">
                </div>
                <div class="desccont0">
                    <p class="desccont1">fossil, casio & more</p>
                    <p class="desccont2">flat 30% off</p>
                    <p class="desccont3">watches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg5.jpg" alt="bestphones0" class="contentimg01" id="shiftleftimg0">
                </div>
                <div class="desccont0">
                    <p class="desccont1">invictus</p>
                    <p class="desccont2">min 40% off</p>
                    <p class="desccont3">men's belts</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg6.jpg" alt="bestphones0" class="contentimg01" id="shiftleftimg0">
                </div>
                <div class="desccont0">
                    <p class="desccont1">get stylish, get watch</p>
                    <p class="desccont2">from $4</p>
                    <p class="desccont3">watches</p>
                </div>
                </a>

            </div>

            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg7.jpg" alt="bestphones0" class="contentimg00">
                </div>
                <div class="desccont0">
                    <p class="desccont1">travel accessories</p>
                    <p class="desccont2">from $9</p>
                    <p class="desccont3">budget buys</p>
                </div>
                </a>

            </div>
        
            <div class="contents0">
                <a href="#" class="linkcont0">
                <div class="imgcont0">
                <img src="../img/tooimg8.jpg" alt="bestphones0" class="contentimg01" id="shiftleftimg1">
                </div>
                <div class="desccont0">
                    <p class="desccont1">casio, fastrack & more</p>
                    <p class="desccont2">upto 80% off</p>
                    <p class="desccont3">women watches</p>
                </div>
                </a>

            </div>


                
            

            
            
        </div>
    <label for="imgslider4l">
    <img src="../img/slide_left.jpg" class="slideleft0" id="slideleft00"> </label>
        <label for="imgslider4r">
        <img src="../img/slide_right.jpg" class="slideright0" id="slideright00"></label>
        
    </div>
            
            
            
            
            
            
            
           
           
            
        
        
        
    </main>
    

















    <footer class="flex-text-center">
    <div class="contentfootmain">
    <div class="contentfoottop">
    <div class="leftcontent">
        <div class="about_foot">
            <ul class="footer1st">
                <li class="heading_foot">about</li>
                <li class="itemoffoot"><a href="contact.html" class="itemfootlink">contact us</a></li>
                <li class="itemoffoot"><a href="about.html" class="itemfootlink">about us</a></li>
                <li class="itemoffoot"><a href="careers.html" class="itemfootlink">careers</a></li>
                <li class="itemoffoot"><a href="flipkartstories.html" class="itemfootlink">flipkart stories</a></li>
                <li class="itemoffoot"><a href="press.html" class="itemfootlink">press</a></li>
                <li class="itemoffoot"><a href="flipkartwholesale.html" class="itemfootlink">flipkart wholesale</a></li>
            </ul>
           
            
        </div>
        <div class="help_foot">
            <ul class="footer2nd">
                <li class="heading_foot">help</li>
                <li class="itemoffoot"><a href="contact.html" class="itemfootlink">payments</a></li>
                <li class="itemoffoot"><a href="about.html" class="itemfootlink">shipping</a></li>
                <li class="itemoffoot"><a href="careers.html" class="itemfootlink">cancellation & returns</a></li>
                <li class="itemoffoot"><a href="flipkartstories.html" class="itemfootlink">FAQ</a></li>
                <li class="itemoffoot"><a href="press.html" class="itemfootlink">report infringement</a></li>
                
            </ul>
           
            
        </div>
        <div class="policy_foot">
            <ul class="footer3rd">
                <li class="heading_foot">policy</li>
                <li class="itemoffoot"><a href="contact.html" class="itemfootlink">return policy</a></li>
                <li class="itemoffoot"><a href="about.html" class="itemfootlink">terms of use</a></li>
                <li class="itemoffoot"><a href="careers.html" class="itemfootlink">security</a></li>
                <li class="itemoffoot"><a href="flipkartstories.html" class="itemfootlink">privacy</a></li>
                <li class="itemoffoot"><a href="press.html" class="itemfootlink">sitemap</a></li>
                <li class="itemoffoot"><a href="press.html" class="itemfootlink">EPR compliance</a></li>
                
            </ul>
           
            
        </div>
        <div class="social_foot">
            <ul class="footer4th">
                <li class="heading_foot">social</li>
                <li class="itemoffoot"><a href="contact.html" class="itemfootlink">facebook</a></li>
                <li class="itemoffoot"><a href="contact.html" class="itemfootlink">twitter</a></li>
                <li class="itemoffoot"><a href="about.html" class="itemfootlink">youtube</a></li>
                
            </ul>
           
            
        </div>
    </div>
    
    <div class="rightcontent">
        <div class="mail">
            <ul class="footer_head1">
                <li class="heading_foot" id="heading_foot1">mail us:</li>
                <li class="itemoffoot1">flipkart internet private limited,</li>
                <li class="itemoffoot1">buildings alyssa, begonia &</li>
                <li class="itemoffoot1">clove embassy tech village,</li>
                <li class="itemoffoot1">outer ring road,  devarabeesanahalli village, </li>
                <li class="itemoffoot1">bengaluru, 560103</li>
                <li class="itemoffoot1">karnataka, india</li>
            </ul>
        </div>
        <div class="roa">
            <ul class="footer_head2">
                <li class="heading_foot" id="heading_foot1">registered office address:</li>
                <li class="itemoffoot1">flipkart internet private limited,</li>
                <li class="itemoffoot1">buildings alyssa, begonia &</li>
                <li class="itemoffoot1">clove embassy tech village,</li>
                <li class="itemoffoot1">outer ring road,  devarabeesanahalli village, </li>
                <li class="itemoffoot1">bengaluru, 560103</li>
                <li class="itemoffoot1">karnataka, india</li>
                <li class="itemoffoot1">CIN : U51109KA2012PTC066107</li>
                <li class="itemoffoot1">telephone: <a href="#"id="telephone0">1800 202 9898</a></li>
            </ul>
        </div>
    </div>
    </div>
    <hr id="hrbottom">
    <div class="bottomcontent">
        <ul class="bottom_foot">
            <li class="botcontent"><img src="../img/btmfooter1.jpg" class="footimg0"><a href="#" class="botcontlink">sell on flipkart</a></li>
            <li class="botcontent"><img src="../img/btmfooter2.jpg" class="footimg0"><a href="#" class="botcontlink">advertise</a></li>
            <li class="botcontent"><img src="../img/btmfooter3.jpg" class="footimg0"><a href="#" class="botcontlink">gift cards</a></li>
            <li class="botcontent"><img src="../img/btmfooter4.jpg" class="footimg0"><a href="#" class="botcontlink">help center</a></li>
            <li class="botcontent" id="copyright0">&copy; 2007-2021 Flipkart.com</li>
            <li class="botcontentimg"><img src="../img/imggroup.jpg" alt="imggroup" id="imggroup0"></li>
            
        </ul>
    </div>
    </div>
    </footer>



</body>
</html>